@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: black;
  color: whitesmoke;
  width: 100%;
}

main {
  display: grid;
  font-family: "Karla", sans-serif;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  font-size: 1.5rem;
}

header {
  position: fixed;
  background-color: rgb(10 10 10);
  width: 100%;
  top: -2px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 10px #212121;
}

header img {
  width: auto;
  height: 100px;
  float: left;
  padding-top: 4px;
  padding-left: 20px;
}

header a {
  padding-left: 5px;
  padding-right: 5px;
  color: whitesmoke;
}

a:hover {
  color: #ff8048;
}

a:active {
  color: red;
}

header nav {
  max-width: 100%;
  text-align: center;
  padding: 5px;
  display: inline;
}

header li {
  display: inline-block;
  padding-right: 50px;
}

button {
  color: whitesmoke;
  background: #8369d8;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 34px;
  border: none;
}

button:hover {
  cursor: pointer;
  background: aqua;
  color: black;
}

input#search {
  margin-top: 21px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: whitesmoke;
}

footer li {
  display: inline-block;
  color: whitesmoke;
}

a {
  text-decoration: none;
}

.section_1 h1 {
  font-family: "roboto", sans-serif;
  font-size: 5rem;
  margin: 0;
}

.section_1 h2 {
  font-size: 1.5rem;
}

.compare_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 65px;
}

.wrapper_banner {
  margin: 0;
  padding-top: 16rem;
  padding-bottom: 13rem;
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper_banner {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.section_1 {
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 81%);
}

.section_2 {
  /* background-color: #8369d8; */
  background-image: url("/assets/pexels-mockupeditorcom-205316.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  box-shadow: inset 0 0 0 2000px #e9e7efde;
  background-attachment: fixed;
}

.section_2 p {
  font-family: "roboto", sans-serif;
}

section.section_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article img {
  width: 100px;
  height: auto;
}

.section_2 article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  background: whitesmoke;
  color: black;
  border-radius: 130px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.section_3 {
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 300px;
  padding-bottom: 300px;
}

div#myData img {
  width: 900px;
}

.section_3 .article {
  margin-left: 90px;
  margin-right: 90px;
  text-align: right;
}

.section_3 h1,
.section_4 h1 {
  font-family: "roboto", sans-serif;
  font-size: 3.3rem;
}

.section_3 h2,
.section_4 h2 {
  font-family: "karla", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
}

.section_4 {
  background: whitesmoke;
  color: black;
}

.section_3 button {
  margin-top: 45px;
}

.section_4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 300px;
  padding-bottom: 300px;
}

.section_4 .article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

article.article_compare {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section_4 img {
  width: 500px;
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.section_4 h2 {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 200px;
}
.section_4 p {
  color: #ff8048;
  padding-top: 50px;
  font-family: "roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
